DJANGO_SECRET_KEY=secret-key-placeholder
DJANGO_URL=https://doj97g7j2t9bz.cloudfront.net
DATABASE_URL=postgres://postgres:password@feedme-db-instance-1.crcs8cuq6041.ap-southeast-2.rds.amazonaws.com/postgres
DB_URL=feedme-db-instance-1.crcs8cuq6041.ap-southeast-2.rds.amazonaws.com
DEBUG=False
ALLOWED_HOSTS=.elasticbeanstalk.com,.elb.amazonaws.com,.cloudfront.net,127.0.0.1,localhost
PASSWORD=password-placeholder